body{
  background: #FAFAFD;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#Description h4, #Description p, h5 {
  color: gray;
}

.texte_relative {
position: relative;
  top: -100px;
  left: 100px;
}

.img_profile {
  max-height: 88vh;
}

.bg{
  background: linear-gradient(to bottom, transparent 60%, #FAFAFD),url("/assets/photos/img_profile.png");
  background-size: 90%;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 100%;
  max-height: 90vh;
}

.shadowCard{
  max-width: 100%;
}

.shadowCard:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}


.card-title {
  font-weight: 600;
  letter-spacing: -0.5px; /* Style Apple */
}

.card-text {
  font-size: 0.95rem;
  margin-bottom: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
}

.card-subtitle {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.icone {
  border-width: 2px;
  border-style: solid;
  border-radius:30px !important;
}

.icone:hover {
  background-color: blue;
  color: white;
}

.techno_icone {
  width: 20%;
  height: auto;
}

.name {
  letter-spacing: 0.2rem;
}

h3 em {
  color: #0071e3;
  font-style: italic;
  font-weight: lighter;
}

/* Définition de la couleur bleue Apple */
:root {
  --apple-blue: #0071e3; /* Bleu Apple classique */
  --apple-blue-light: rgba(0, 113, 227, 0.7); /* Version plus légère pour un effet subtil */
}

/* Style pour la barre de soulignement */
.title-underline {
  position: relative;
  display: inline-block; /* Pour que la barre ne prenne que la largeur du texte */
}

.title-underline::after {
  content: '';
  position: absolute;
  bottom: 0px; /* Distance sous le texte */
  left: 0;
  width: 0; /* Commence à 0 pour l'animation */
  height: 3px; /* Épaisseur de la barre */
  background-color: var(--apple-blue);
  transition: width 1.2s ease-out; /* Transition pour l'animation */
  opacity: 0.7; /* Légère transparence pour plus de subtilité */
}

/* Classe qui sera ajoutée via JavaScript au chargement de la page */
.title-underline.animate::after {
  width: 100%; /* Longueur finale de la barre - ajustez selon vos préférences */
}}